.slider-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 2rem;
}
.slider-container svg {
  margin: 1rem 0rem;
  cursor: pointer;
  width: 1.5rem;
  border-radius: 100%;
  background-color: rgb(223, 223, 223);
  padding: 0.75rem 1rem;
}
.slider-container svg:hover {
  background-color: rgb(201, 201, 201);
}

.slider-ul {
  overflow: hidden;
  width: 91vw;
  background-color: rgb(221, 221, 221);
  margin: 1rem 1rem;
  border-radius: 10px;
  -webkit-mask: linear-gradient(
      to left,
      rgba(245, 0, 0, 0) 0%,
      rgb(214, 21, 21, 1) 40%
    ),
    linear-gradient(to left, rgba(245, 0, 0, 0) 0%, rgb(214, 21, 21, 1) 20%);
  mask: linear-gradient(to left, rgba(245, 0, 0, 0) 0%, rgb(214, 21, 21, 1) 40%),
    linear-gradient(to left, rgba(245, 0, 0, 0) 0%, rgb(214, 21, 21, 1) 20%);
}
.most-ul {
  display: flex;

  transition: all 0.4s ease-in-out;
}
.most-item {
  cursor: pointer;
  padding: 1rem;
  list-style-type: none;
  background-color: white;
  border-radius: 5px;
  margin: 1rem;
  transition: all 0.2s ease-in-out;
}
.most-price {
  transition: all 0.2s ease-in-out;
}
.most-item:hover {
  background-color: rgb(247, 247, 247);
  transform: scale(1.05);
}
.most-item:hover .most-price {
  color: #0062cf !important;
}
.most-item:hover .most-item-name {
  color: #0062cf !important;
}
.most-item-container {
  width: 15rem;
}
.most-changes {
  display: flex;
  margin-top: 0.5rem;
}
.most-changes p {
  margin-right: 0.8rem;
}
.stock-up {
  color: #34a853;
  font-weight: bold;
}
.stock-down {
  color: #eb0f29;
  font-weight: bold;
}
.most-title {
  margin: 0rem 1rem;
  width: 13rem;
  cursor: pointer;
}
.most-title h1 {
  margin-right: 1rem;
  display: inline-block;
}
.most-title-style {
  /* content: ""; */
  width: 0rem;
  color: #202a35;
  background-color: #202a35;
  height: 2px;
  margin: 0rem 1rem;
  transition: all 0.2s ease-in-out;
}

.most-title:hover + .most-title-style {
  width: 13rem;
}
.most-item-name {
  height: 2.5rem;
  transition: all 0.2s ease-in-out;
}
