.spacer {
  aspect-ratio: 900/250;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../../public/layered-waves-haikei.svg");
}
.footer-container {
  display: flex;
  justify-content: space-between;
  height: 20rem;
  background-color: #202a35;
  color: white;
}
.footer-container h1,
.footer-container h2,
.footer-container h3,
.footer-container p {
  color: white;
}
.footer-left {
  display: flex;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 95%;
  position: relative;
  margin: 0rem 3rem;
}
.footer-logo svg {
  position: absolute;
  top: 0rem;
}
.logo {
  display: inline-block;
  font-size: 50px;
}
/* .footer-logo h1 {
  color: white;
} */
.footer-links-container {
  display: flex;
  margin: 1rem 2rem;
}
.footer-logo path {
  fill: #0062cf;
}
.footer-links {
  margin: 0rem 2rem;
}
.markets-link {
  cursor: pointer;
  color: grey;
  margin: 1.5rem 0rem;
}
.about-link {
  cursor: pointer;
}
.footer-right {
  margin: 1rem 4rem;
  width: 30rem;
}

.built-with {
  margin: 1rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-description h1 {
  margin: 1rem 0rem;
}
.built-with img {
  margin: 0rem 1rem;
  width: 5rem;
}
.next-img {
  margin-top: 0.3rem;
  height: 5.5rem;
  width: 7.5rem !important;
}
.typescript-img {
  border-radius: 5px;
}
