.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: white;
}
.logo-container {
  display: flex;
}
.logo-container path {
  fill: #0062cf;
}
.header-menu {
  display: flex;
  position: relative;
  margin: 0rem 1rem;
  margin-left: 2rem;
}
.markets-menu {
  font-weight: bold;
  margin-right: 2rem;
  cursor: pointer;
  position: relative;
}
.markets-menu svg {
  position: absolute;
  top: 0rem;
}
.menu-dropdown {
  position: absolute;
  width: 12rem;
  top: 1.4rem;
  z-index: 21;
  /* padding-top: 2rem; */
  background-color: white;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
}
.header-menu-markets {
  font-weight: bold;
  /* text-align: center; */
  padding: 1rem 0.3rem;
  border-bottom: 1px solid rgb(201, 201, 201);
  cursor: pointer;
}
.header-menu-markets:hover {
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
}
.logo {
  cursor: pointer;
}
.search-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-top: 0.3rem;
}
.search-button:hover {
  background-color: #2860a1;
}
.search-button svg {
  padding-top: 0.2rem;
}
.search-button path {
  fill: white;
}
.header-search-input {
  padding: 0rem 0.5rem;
  height: 37px;
  width: 30rem;
  border: 1px solid grey;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.header-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-search {
  position: relative;
}
.logo-markets-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-about {
  cursor: pointer;
}
.search-portfolio-header {
  display: flex;
}
.portfolio-btn {
  padding: 0.57rem 2rem;
  color: white;
  margin: 0rem 2rem;
  margin-right: 0rem;
  font-size: 18px;
}
.portfolio-btn:hover {
  background-color: #2860a1;
}
