.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: white;
  z-index: 5;
}
.logo-container {
  display: flex;
  cursor: pointer;
}
/* .logo {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.logo-container path {
  fill: #0062cf;
}
.header-menu {
  display: flex;
  position: relative;

  margin-left: 1.5rem;
  cursor: pointer;
}

.header-menu2 {
  display: flex;
  position: relative;
  margin: 0rem 0.25rem;
  cursor: pointer;
}
.markets-menu {
  font-weight: bold;
  margin-right: 2rem;
  cursor: pointer;
  position: relative;
}
.markets-menu svg {
  position: absolute;
  top: 0rem;
}
.menu-dropdown {
  position: absolute;
  width: 12rem;
  top: 2rem;
  left: -1rem;
  z-index: 21;
  /* padding-top: 2rem; */
  background-color: rgb(238, 238, 238);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
}
.menu-dropdown::after {
  content: " ";
  position: absolute;
  left: 20px;
  top: -10px;
  border-top: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid rgb(238, 238, 238);
}
.header-menu-markets {
  font-weight: bold;
  padding: 1rem 0.3rem;
  border-bottom: 1px solid rgb(201, 201, 201);
  cursor: pointer;
}
.header-menu-markets:hover {
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
}

.search-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-top: 0.3rem;
}
.search-button:hover {
  background-color: #2860a1;
}
.search-button svg {
  padding-top: 0.2rem;
}
.search-button path {
  fill: white;
}
.header-search-input {
  padding: 0rem 0.5rem;
  height: 37px;
  width: 30rem;
  border: 1px solid #0062cf;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.header-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-search {
  position: relative;
}
.logo-markets-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-about {
  cursor: pointer;
}
.search-portfolio-header {
  display: flex;
}
.portfolio-btn {
  padding: 0.57rem 2rem;
  color: white;
  margin: 0rem 2rem;
  margin-right: 0rem;
  font-size: 18px;
}
.portfolio-btn:hover {
  background-color: #2860a1;
}
.drop-wrapper {
  height: 10rem;
  width: 10rem;
  position: absolute;
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@media only screen and (max-width: 1210px) {
  .header-search-input {
    width: 20rem;
  }
}
@media only screen and (max-width: 1050px) {
  .header-search-input {
    width: 25vw;
  }
}
@media only screen and (max-width: 970px) {
  .header-search-input {
    width: 22vw;
  }
  .portfolio-btn {
    margin-left: 0.5rem;
  }
}
.hamburger-btn {
  cursor: pointer;
}
@media only screen and (max-width: 925px) {
  .header-search {
    position: absolute;
    background-color: white;
    top: 3.8rem;
    left: 0;
    width: 100%;
    z-index: 10;
    animation: show 0.35s ease-in-out forwards;
  }
  .header-search-input {
    width: 100%;
    border-radius: 0px;
    border: 2px solid #0062cf;
  }
  .search-button {
    border-radius: 5px;
    padding: 0.25rem 0.75rem;
  }
  .portfolio-btn {
    padding: 0.57rem 1.5rem;
  }

  .search-portfolio-header,
  .hamburger-btn-container {
    width: 11rem;
  }
}
@media only screen and (max-width: 700px) {
  .header-container {
    padding: 0.5rem 0.5rem;
  }
  .portfolio-btn {
    padding: 0.5rem 1rem;
  }
  .search-button {
    border-radius: 5px;
    padding: 0rem 0.7rem;
    padding-top: 0.1rem;
  }

  .search-portfolio-header,
  .hamburger-btn-container {
    width: 9.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .logo-container {
    margin-left: 1rem;
  }
  .left-head {
    display: flex;
    align-items: center;
  }
  .search-portfolio-header,
  .hamburger-btn-container {
    width: auto;
  }
}
@media only screen and (max-width: 420px) {
  .logo-container {
    margin-left: 0.5rem;
  }
}
