.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  display: flex;
}
.logo-container path {
  fill: #0062cf;
}
.header-menu {
  display: flex;
  position: relative;
}
.markets-menu {
  font-weight: bold;
  text-align: center;
  width: 8rem;
  cursor: pointer;
  position: relative;
}
.markets-menu svg {
  position: absolute;
  top: 0rem;
}
.menu-dropdown {
  position: absolute;
  width: 8rem;
  top: 1rem;
}
.header-menu-markets {
  font-weight: bold;
  text-align: center;
  padding: 0.5rem 0rem;
  margin: 0.5rem 0rem;
  cursor: pointer;
}
.header-menu-markets:hover {
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
}
.logo {
  cursor: pointer;
}
.search-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-top: 0.3rem;
}
.search-button svg {
  padding-top: 0.2rem;
}
.search-button path {
  fill: white;
}
.header-search-input {
  padding: 0rem 0.5rem;
  height: 37px;
  width: 20rem;
  border: 1px solid grey;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.header-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-search {
  position: relative;
}
