.index-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-ul li {
  background-color: white;
  list-style-type: none;
  margin: 1rem 1rem;
  border-top: 4px solid #016ae2;
  border-radius: 10px;
  padding: 0.5rem;
  /* width: 15rem; */
  display: flex;
}
.index-text-container {
  padding-top: 0.5rem;
}
.index-name {
  margin-bottom: 0.5rem;
  color: #016ae2;
  cursor: pointer;
}
.index-name:hover {
  color: #0458b8;
}
.index-name2 {
  margin-bottom: 0.5rem;
}
.index-price {
  margin-bottom: 0.5rem;
}
.change-container {
  display: flex;
  /* justify-content: space-between; */
}
.index-up {
  color: #34a853;
  margin-right: 0.5rem;
}
.index-down {
  color: #eb0f29;
  margin-right: 0.5rem;
}
.today {
  color: rgb(77, 77, 77);
}
.year {
  color: rgb(77, 77, 77);
  text-align: right;
  margin-top: 0.2rem;
}
