.account-balance-wrapper {
  margin: 1rem;

  background-color: white;
  border-radius: 10px;
}
.account-value-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.up-pl {
  color: #34a853;
  font-weight: bold;
}
.down-pl {
  color: #eb0f29;
  font-weight: bold;
}
.account-cards {
  padding: 1rem 2rem;
}
.account-cards-first {
  padding: 1rem 2rem;

  width: 20rem;
}
.pl-change {
  margin: 0rem 0.5rem;
}
