.current-portfolio-container {
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  margin: 0.5rem;
  height: 31rem;
}
.portfolio-items-container {
  margin: 1rem 0rem;

  width: 40vw;

  background-color: rgb(226, 226, 226);
  border-radius: 10px;
  position: relative;
}
.empty-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.portfolio-item {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin: 1rem;
}
.portfolio-item img {
  height: 3rem;
  margin: 0.5rem;
}
.portfolio-items-list {
  overflow-y: auto;
  height: 24rem;
}
.portfolio-item-text {
  margin: 0rem 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-item-header {
  display: flex;

  padding: 0rem 1.65rem;
  justify-content: space-between;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
}
.logo {
  width: 80px;
}
.portfolio-item-header p {
  margin: 1rem 0rem;
}
.position-up {
  color: #34a853;
  display: flex;
  font-weight: bold;
}
.position-down {
  color: #eb0f29;
  display: flex;
  font-weight: bold;
}
.positions-symbol {
  cursor: pointer;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
  width: 50px;
  text-align: left;
}
.positions-symbol:hover {
  color: #0062cf;
}
.pos-img {
  max-width: 55px !important;
  border-radius: 5px;
  height: 55px !important;
}
.pos-amount {
  width: 50px;
  margin: 0rem 1rem;
}
.change-perc {
  margin-left: 0.5rem;
}
