.portfolio-history {
  margin: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
}
.portfolio-items-container {
  margin-top: 1rem;
  height: 16rem;
  width: 50vw;

  background-color: rgb(226, 226, 226);
  border-radius: 10px;
  position: relative;
}
.empty-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.portfolio-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin: 1rem;
}

.portfolio-item-text {
  margin: 0rem 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.portfolio-item-header {
  display: flex;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  align-items: center;
  background-color: rgb(240, 240, 240);
}

.portfolio-item-text-date {
  color: rgb(124, 124, 124);
  font-weight: bold;
}
.logo-img {
  width: 55px !important;
  border-radius: 13px;
  height: 55px !important;
  padding: 0.5rem;
}
.logo {
  height: 40px !important;
  margin-left: 16px;
  padding: 8px;
  padding-left: 63px;
}
.symbol-date {
  width: 12rem;
}
.his-amount {
  width: 5rem;
  margin-left: 0.5rem;
}
.buy-order {
  width: 4.8rem;
  margin-left: 0.5rem;
  background-color: #34a853;
  border-radius: 5px;
  text-align: center;
  padding: 0.4rem 0.2rem;
  color: white;
}

.sell-order {
  width: 4.8rem;
  margin-left: 0.5rem;
  background-color: #eb0f29;
  border-radius: 5px;
  text-align: center;
  padding: 0.4rem 0.2rem;
  color: white;
}
.his-amount2 {
  width: 5rem;
  margin-left: 1rem;
}
.portfolio-items-list {
  height: 12rem;
  overflow-y: auto;
  overflow-x: hidden;
}
@media only screen and (max-width: 1320px) {
  .portfolio-history-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .portfolio-history {
    width: 77vw;
  }
  .portfolio-items-container {
    width: 100%;
    height: 30rem;
  }
  .portfolio-items-list {
    height: 25rem;
  }
  .portfolio-item-text {
    justify-content: space-between;
  }
  .portfolio-item-header {
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 870px) {
  .portfolio-history {
    width: 95vw;
  }
}
@media only screen and (max-width: 720px) {
  .portfolio-item {
    margin: 1rem 0.5rem;
  }
  .symbol-date {
    width: 6rem;
  }
  .logo {
    padding-left: 54px !important;
  }
  .his-amount2 {
    text-align: center;
  }
}
@media only screen and (max-width: 620px) {
  .portfolio-item-text-date {
    font-size: 14px;
  }
  .his-amount2,
  .his-amount,
  .symbol {
    width: 4.5rem;
    font-size: 14px;
  }

  .logo {
    padding-left: 43px !important;
  }
  .logo-img {
    height: 45px !important;
    width: 45px !important;
  }
  .portfolio-item-header {
    padding: 0;
  }
  .cost {
    margin: 0;
    margin-right: 0.5rem;
  }
}
@media only screen and (max-width: 550px) {
  .portfolio-item-text-date {
    font-size: 13px;
  }
  .his-amount2,
  .his-amount,
  .symbol {
    width: 3.5rem;
    font-size: 13px;
    margin: 0;
  }
  .his-amount2 {
    margin: 0rem 0.2rem;
    text-align: left;
  }
  .type {
    width: 4.3rem;
  }
  .cost {
    width: 4rem;
  }
  .buy-order {
    width: 3.5rem;
    margin: 0;
    padding: 0.2rem 0.2rem;
  }

  .sell-order {
    width: 3.5rem;
    margin: 0;
    padding: 0.2rem 0.2rem;
  }
  .symbol-date {
    width: 5rem;
  }
}
@media only screen and (max-width: 550px) {
  .portfolio-history {
    margin: 1rem 0.5rem;
    padding: 1rem 0.5rem;
  }
}
@media only screen and (max-width: 440px) {
  .portfolio-item {
    margin: 1rem 0.3rem;
  }
  .head-text {
    font-size: 12px;
  }
  .his-amount2 {
    width: 3rem;
    margin: 0;
    margin-left: 0.2rem;
  }
  .logo-img {
    padding: 0.5rem 0.3rem;
    border-radius: 10px;
  }
  .logo {
    padding-left: 32px !important;
  }
  .portfolio-item-text {
    margin: 0rem 0.25rem;
  }
  .portfolio-history {
    width: 100vw;
  }
  .portfolio-history {
    margin: 1rem 0.2rem;
    padding: 1rem 0.2rem;
  }
  .logo-img {
    height: 40px !important;
    width: 40px !important;
  }
  .symbol {
    width: 4.7rem;
  }
  .qty {
    width: 3.2rem;
  }
  .amount {
    width: 2rem;
  }
}
