@font-face {
  font-family: "Halbfett";
  src: url("/fonts/TestSöhne-Halbfett.otf");
}

@font-face {
  font-family: "Buch";
  src: url("/fonts/TestSöhne-Buch.otf");
}
* {
  font-family: "Buch", sans-serif !important;
}
body {
  background-color: #f7f7f7;
  margin: 0;
  overflow-x: hidden !important;
}
h2,
h1,
h3,
h4,
p,
li {
  margin: 0;
  color: #202a35;
}
h1,
h2,
h3 {
  font-family: "Halbfett", sans-serif !important;
}
p {
  font-family: "Buch", sans-serif !important;
}
input {
  all: unset;
}
ul {
  margin: 0;
  padding: 0;
}
.portfolio-container {
  display: flex;
  justify-content: space-between;
}
button {
  all: unset;
  cursor: pointer;
  background-color: #0062cf;
  padding: 0.25rem 1.5rem;
  border-radius: 5px;
  color: white;
}
button:hover {
  background-color: #2860a1;
}
