* {
  font-family: "Montserrat", sans-serif !important;
}
h2,
h1,
h3,
h4,
p {
  margin: 0;
}
input {
  all: unset;
}
ul {
  margin: 0;
  padding: 0;
}
.portfolio-container {
  display: flex;
  justify-content: space-between;
}
