.overview-container {
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
}
.overview-content-container {
  background-color: white;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
}
.overview-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quote-section-ul {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0rem;
  padding: 0rem 2rem;
  width: 90vw;
}
.quote-section-ul li {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  list-style-type: none;
}
