.income-dates {
  padding: 0.5rem;
  background-color: rgb(218, 218, 218);
}

.income-rows {
  padding: 0.5rem;
  background-color: rgb(218, 218, 218);
  text-align: left;
}
.income-rows-child {
  text-align: center;
}
.income-cells {
  padding: 0.5rem;
  background-color: rgb(235, 235, 235);
}

.income-cells-up {
  padding: 0.5rem;
  background-color: rgb(235, 235, 235);
  color: #34a853;
}
.income-cells-down {
  padding: 0.5rem;
  background-color: rgb(235, 235, 235);
  color: #eb0f29;
}
