.income-dates {
  padding: 0.5rem;
  background-color: rgb(218, 218, 218);
}
.income-cells {
  padding: 0.5rem;
  background-color: rgb(235, 235, 235);
}
.income-rows {
  padding: 0.5rem;
  background-color: rgb(218, 218, 218);
}
