.chart-dates-container {
  margin: 0rem 0rem;
  width: 99%;
  background-color: white;
  border-radius: 5px;
  padding: 0.2rem 0.1rem;
}

.chart-dates-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 0.5rem;
  margin-bottom: 0.2rem;
  padding: 0;
}
.chart-dates {
  list-style-type: none;

  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 10px;
}
.chart-dates:hover {
  background-color: rgb(223, 223, 223);
}
.active-date {
  list-style-type: none;

  font-weight: bold;
  cursor: pointer;
  border-bottom: 3px solid #0062cf;
  padding: 0rem 0.5rem;
}
@media only screen and (max-width: 860px) {
  .chart-dates-container {
    margin-left: auto;
    margin-right: auto;
    width: 45rem;
  }
}
@media only screen and (max-width: 770px) {
  .chart-dates-container {
    width: 35rem;
  }
}
@media only screen and (max-width: 610px) {
  .chart-dates-container {
    width: 32rem;
  }
}
@media only screen and (max-width: 550px) {
  .chart-dates-container {
    width: 25rem;
  }
}
@media only screen and (max-width: 440px) {
  .chart-dates-container {
    width: 21rem;
  }
}
