.overview-info-container {
  display: flex;
}
.info-item {
  list-style-type: none;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  width: 20rem;
}
.item-value {
  font-weight: bold;
}
