.overview-description {
  font-size: 18px;
  width: 100%;
  display: inline-block;
  line-height: 1.75rem;
}
.more-desc {
  padding: 0rem;
  background-color: #0062cf;
  color: white;

  padding: 0.1rem 0.3rem;
  border-radius: 5px;
  cursor: pointer;
}
.more-desc:hover {
  background-color: #1f78dd;
}
@media only screen and (max-width: 860px) {
  .overview-description {
    width: auto;
  }
}
@media only screen and (max-width: 400px) {
  .overview-description {
    font-size: 16px;
  }
}
