.trade-btn {
  background: linear-gradient(90deg, #7ebaff 0%, #126acf 100%);
  color: white;

  height: 2.5rem;
  width: 4.5rem;
  text-align: center;

  transition: 0.3s all ease-in-out;
}
.trade-btn:hover {
  background: linear-gradient(90deg, #66adff 0%, #0c57ac 100%);
}
.trade-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(97, 97, 97, 0.5);
  top: 0;
  left: 0;
  z-index: 11;
}
.trade-overlay::-webkit-scrollbar {
  display: none;
}
.trade-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@keyframes show {
  0% {
    transform: translateY(-8rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
.trade-container {
  background-color: white;
  height: 90.5vh;
  width: 33rem;
  border-radius: 5px;
  animation: show 0.4s ease-in-out forwards;
}
.trade-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.input-number {
  border: 1px solid black !important;
  padding: 0.5rem 0.5rem;
  /* all: initial; */
}
.stock-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company-logo {
  width: 80px;
  margin-right: 0.5rem;
  border-radius: 5px;
}
.stock-name {
  color: rgb(138, 138, 138);
  margin: 0rem 0.5rem;
}
.ticker-price {
  font-size: 20px;
  font-weight: bold;
  display: flex;
}
.ticker-price h2 {
  margin: 0rem 0.5rem;
}
.trade-values {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}
.trade-values button {
  padding: 0.5rem 2.3rem;
  background-color: white;
  border: 1px solid #0062cf;
  color: #0062cf;
  transition: all 0.2s ease-in-out;
}
.trade-values button:hover {
  background-color: rgb(245, 245, 245);
}
.trade-values button:first-child {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.trade-values button:nth-child(2) {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.buy-order {
  background-color: #34a853 !important;
  border: 1px solid #34a853 !important;
  color: white !important;
}
.sell-order {
  background-color: #eb0f29 !important;
  border: 1px solid #eb0f29 !important;
  color: white !important;
}
.close-btn {
  cursor: pointer;
}
.buy-button {
  margin: 0.75rem 0.5rem;
}
.buy-button button {
  transition: all 0.2s ease-in-out;
  font-size: 25px;
  text-align: center;
  width: 100%;
  padding: 0.5rem 0rem;
  background-color: #34a853;
}
.buy-button button:hover {
  background-color: #50b46b;
}

.sell-button {
  margin: 0.75rem 0.5rem;
}
.sell-button button {
  transition: all 0.2s ease-in-out;
  font-size: 25px;
  text-align: center;
  width: 100%;
  padding: 0.5rem 0rem;
  background-color: #eb0f29;
}
.sell-button button:hover {
  background-color: #ec253c;
}
.cash-balance {
  margin: 0.5rem;
}
.owned-shares {
  margin: 0.5rem;
}
.shares-balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
