.trade-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(97, 97, 97, 0.5);
  top: 0;
  left: 0;
  z-index: 11;
}
.trade-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.trade-container {
  background-color: white;
  height: 35rem;
  width: 33rem;
}
.input-number {
  border: 1px solid black !important;
  /* all: initial; */
}
.stock-info {
  display: flex;
  justify-content: space-between;
}
.company-logo {
  width: 5rem;
}
.stock-name {
  color: rgb(138, 138, 138);
  margin: 0rem 0.5rem;
}
.ticker-price {
  font-size: 20px;
  font-weight: bold;
  display: flex;
}
.ticker-price h2 {
  margin: 0rem 0.5rem;
}
.trade-values {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}
.buy-order {
  background-color: #34a853;
}
.sell-order {
  background-color: #eb0f29;
}
