.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-dates-container {
  margin: 1rem 0.5rem;
  background-color: white;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  margin: 1rem 1rem;
}
.advanced-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart-dates-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 1rem;
  margin-bottom: 1rem;
  padding: 0;
}
.chart-dates-ul {
  width: 60vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 240, 240);
  padding: 0.25rem;
  border-radius: 5px;
}

.chart-dates {
  list-style-type: none;

  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
}
.active-chart-date {
  list-style-type: none;

  font-weight: bold;
  cursor: pointer;
  padding: 0rem 0.5rem;
  border-bottom: 3px solid #0062cf;
  transition: border-bottom 0.1s linear;
}
.chart-dates:hover {
  background-color: rgb(223, 223, 223);
  border-radius: 5px;
}
.active-chart-container {
  position: relative;
}
.chart-type-container {
  position: absolute;
  z-index: 20;
  left: 0rem;
  width: 10rem;
  background-color: rgb(245, 245, 245);
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.chart-type-container::after {
  content: " ";
  position: absolute;
  left: 25px;
  top: -10px;
  border-top: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid rgb(245, 245, 245);
}
.chart-type {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
}
.chart-type:hover {
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
}
.chart-type-name {
  padding-left: 0.5rem;
}
.active-chart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  padding: 0.25rem;
  border-radius: 5px;
  margin: 0rem 1rem;
}
.active-chart:hover {
  background-color: rgb(223, 223, 223);
  border-radius: 5px;
}
@media only screen and (max-width: 750px) {
  .chart-dates-wrapper {
    margin: 0;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .chart-dates-ul {
    width: 98%;
  }
  .chart-type-container {
    top: 3rem;
    left: 8.3rem;
  }
  .active-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .active-chart {
    width: 35vw;
  }
  .chart-dates-wrapper {
    display: block;
  }
}
@media only screen and (max-width: 540px) {
  .active-chart {
    width: 40vw;
  }
  .chart-type-container {
    left: 6.6rem;
  }
}
@media only screen and (max-width: 420px) {
  .active-chart {
    width: 45vw;
  }
  .chart-type-container {
    left: 6.6rem;
  }
}
