.ticker-search {
  position: relative;
  z-index: 10;
}
.search-input-container {
  width: 100%;
  border: 1px solid black;
}

.search-input {
  width: 80%;
  font-weight: bold;
  cursor: pointer;
  padding: 0.75rem 0.5rem;
}
.search-btn {
  font-weight: bold;
  cursor: pointer;
  background-color: #0062cf;
  border: none;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
}
.search-dropdown {
  position: absolute;
  background-color: white;
  width: 100%;
  max-height: 15rem;
  overflow-y: auto;
  border: 1px solid black;
}
.search-li {
  list-style-type: none;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(129, 129, 129);
  cursor: pointer;
}
.search-li:hover {
  background-color: rgb(240, 240, 240);
}
.ticker-name {
  font-size: 18px;
  font-weight: bold;
}
.exchange-container {
  margin: 0.2rem 0rem;
  display: flex;
  color: rgb(129, 129, 129);
}
.exchange-container:last-child {
  color: black;
}
