.stock-content-container {
  width: 36.5rem;
}
.stock-header-wrapper {
  display: flex;
  justify-content: space-between;
}

.more-info-btn {
  background-color: white;
  color: #0062cf;
  border: 1px solid #0062cf;
  height: 2.5rem;
  margin: 2.5rem 1rem;
  transition: 0.3s all ease-in-out;
}
.more-info-btn:hover {
  background-color: #0062cf;
  color: white;
}
.stock-header-container {
  display: flex;
  margin: 1rem 0.5rem;
}
.stock-header-container img {
  width: 80px;
  border-radius: 5px;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.company-text-container {
  margin: 0rem 0.5rem;
}
.company-ticker-exchange {
  display: flex;
  color: rgb(129, 129, 129);
}
.company-name {
  font-size: 20px;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #0062cf;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
