@keyframes appear {
  0% {
    transform: translateY(-10rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

.card {
  margin: 3rem;
  float: right;
  width: 37rem;

  height: 506px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  animation: appear 1s 0s ease-in-out forwards;
}
@media only screen and (max-width: 1300px) {
  .card {
    margin: 1rem;
  }
}
@media only screen and (max-width: 820px) {
  .card {
    height: 430px;
  }
}
@media only screen and (max-width: 730px) {
  .card {
    float: none;
    margin: 0rem;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 620px) {
  .card {
    width: 30rem;
  }
}
@media only screen and (max-width: 500px) {
  .card {
    width: 24rem;
  }
}
@media only screen and (max-width: 420px) {
  .card {
    width: 21.5rem;
  }
}
